p.login-box-msg {
    margin-top: 20px;
}

.login-page form {
    height: 240px;
}

.login-box-bottom {
    height: 40px;
}

.login-page span.help-block {
    margin-bottom: 5px;
}

.login-page .control-label {
    padding-right: 0px;
}

.login-page .form-group {
    margin-bottom: 0px;
}

div.placeholder {
    height: 30px;
}
